<div>
  <h1>Country-States Selector</h1>
</div>
<div class="dropdown">
  Country:
  <app-dropdown [choices]="countries" (selectEvent)="updateCountry($event)"></app-dropdown>
  <br>
  State:
  <app-dropdown [choices]="states"></app-dropdown>
</div>
<div>
  <p style="text-align:left;">Add Country:</p>
  <app-form (buttonEvent)="addCountry($event.name, $event.code)"></app-form>
  <p style="text-align:left;">Add State:</p>
  <app-form (buttonEvent)="addState($event.name, $event.code)"></app-form>
</div>

