
<div>
  <h1>Country-States Selector</h1>
</div>
<div class="dropdown">
  Country:
  <select (change)="getStates($event.target.value); updateCountry(country)">
    <option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</option>
  </select>
  <br>
  State:
  <select>
    <option *ngFor="let state of states" value="{{state.code}}">{{state.name}}</option>
  </select>
  <br>
</div>
<div>
  <label>
    Country Name:
    <input #countryName />
  </label>
  <br>
  <label>
      Country Code:
      <input #countryCode />
    </label>
    <br>
  <button (click)="addCountry(countryName.value, countryCode.value);">
      Add Country
  </button>
</div>
<div>
  <label>
    State Name:
    <input #stateName />
  </label>
  <br>
  <label>
    State Code:
    <input #stateCode />
  </label>
  <br>
  <button (click)="addState(stateName.value, stateCode.value);">
    Add State 
  </button>
</div>
