select {
    margin: 10px;
    color: dimgray;
}
h1 {
    border-style: inset;
    border-width: 10px;
    border-radius: 100px;
    text-align: center;
}
input {
    padding: 10px 5px;
    width: 30%;
    margin: 5px;
}
button {
    font-size: 16px;
    color: dimgray;
}